$yellow: #ffbf00;
$pink: #e83f6f;
$blue: #2274a5;
$teal: #32936f;

body {
  background: $teal;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 80px;
}
a {
  color: #00B7FF;
}
// transition
.board, #message, #message-text, .square, #start-game, #mode-single, #mode-two, .selected, #in-game, #select-sign, .x, .o{
  transition: 300ms;
}
.title{
  position: absolute;
  font-size: 3.35em;
  top: 5px;
  left: 15px;
  color: white;
  border-bottom: 3px solid white;
}
// Board
.board{
  position: relative;
  height: 450px;
  width: 450px;
  border: 5px solid white;
  border-radius: 5%;
  padding: 30px;
  margin: auto;
  margin-top: 24px;  
  #message, #select-sign{
    position: absolute;
    z-index: 1000;
    height: 100%;
    border-radius: 3%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: darken($teal, 5%);
  }
  #select-sign{
    display: none;
    font-size: 2em;
    color: $teal;
    line-height: 14;
    background: rgba(255, 255, 255, 1);
    .question{
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    } 
    .x, .o{
      cursor: pointer;
      font-size: 1.3em;
      &:hover{
        color: darken($teal, 20%);
      }
      &:active, &:focus{
        color: $teal;
      }
    }
  }
  #message{
    background: rgba(255, 255, 255, 0.9);
    line-height: 9.5;
    font-size: 3em;
    #message-text{
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      &:hover{
        color: darken($teal, 15%);
        font-size: 1.1em;
      }
    }
  }
}
@media(min-width: 768px){
  .board{
    height: 600px;
    width: 600px;
    #message{
      line-height: 13.5;
    }
    #select-sign{
      line-height: 20;
    }
  }
  .untouched{
    &:hover{
      margin-left: -3px;
      margin-top: -3px;
    }
  }
  .square{
    padding-top: 24px;
  }
}
.square{
  border-radius: 5%;
  position: absolute;
  background: lighten($teal, 40%);
  display: inline-block;
  width: 32%;
  height: 97%;
  color: white;
  font-size: 6em;
  text-align: center;
}
.untouched{
  &:hover{
    height: 100%;
    width: 33%;
    margin-left: -2px;
    margin-top: -2px;
    z-index: 1000;
  }
}
.touched{
  background: darken($teal, 20%);
}
// squares
#sq1, #sq4, #sq7{
  left: 0;
}
#sq2, #sq5, #sq8{
  left: 33.33%;
}
#sq3, #sq6, #sq9{
  left: 66.66%;
}
.row{
  position: relative;
  height: 33.333333%;
}

// Controls
#controls{
  height: 50px;
  position: absolute;
  right: 15px;
  top: 10px;
}
// MODE (single vs two)
#mode-single, #mode-two{
  cursor: pointer;
  position: relative;
  padding: 5px;
  margin-bottom: 2px;
  padding-left: 30px;
  color: $teal;
  font-weight: bold;
}
#mode-single, #mode-two{
  border-radius: 2px;  
  width: 140px;
  background: darken($teal, 20%);
  &:hover{
    color: lighten($teal, 20%);
  }
  &:focus, &:active{
    background: $teal;
    color: white;
  }
}
.mode-checkbox{
  border-radius: 2px;  
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 15px;
  border-right: 2px solid #32936f;
  background: darken($teal, 10%);
}
.selected{
  color: white !important;
  .mode-checkbox{
    background: lighten($teal, 10%);
  }
}
// SCORE
#in-game{
  position: absolute;
  top: 10px;
  left: 250px;
  height: 50px;
  display: none;
  .score-box{
    position: relative;
    .player-name{
      display: inline-block;
      height: 50%;
      width: 110px;
      font-size: 1.5em;
      color: white;
      border-bottom: 2px solid white;
    }
    .player-score{
      display: inline-block; 
      font-size: 1.5em;
      color: white;
      padding-left: 15px;
    }
  }
}
@media(max-width: 590px){
  #in-game{
    top: 575px;
    left: 35%;
  }
}
#turn{
  width: 100%;
  text-align: center;
  background: #184736;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
}